pkgbase = hebnix-linux-bin
	pkgdesc = Rocket League overlay, stats tracker and item-changer for Linux (Hyprland/wlroots), prebuilt upstream binary
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/xplodingeggo/hebnix-linux
	install = hebnix.install
	arch = x86_64
	license = LicenseRef-Hebnix
	depends = gtk3
	depends = systemd-libs
	depends = alsa-lib
	depends = openssl
	depends = xdotool
	depends = webkit2gtk-4.1
	depends = gtk-layer-shell
	depends = wayland
	depends = libxkbcommon
	depends = libayatana-appindicator
	optdepends = curl-impersonate: tracker.gg player stats/avatar lookups (AUR)
	optdepends = kdotool: window focus tracking on KDE/Plasma (AUR)
	optdepends = kscreen: kscreen-doctor, used for monitor info on KDE/Plasma
	provides = hebnix
	conflicts = hebnix-linux
	source = https://github.com/xplodingeggo/hebnix-linux/releases/download/v0.1.0/hebnix-0.1.0-linux-x86_64.tar.gz
	sha256sums = SKIP

pkgname = hebnix-linux-bin
