pkgbase = hebnix-linux
	pkgdesc = Rocket League overlay, stats tracker and item-changer for Linux (Hyprland/wlroots), built from source
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/xplodingeggo/hebnix-linux
	install = hebnix.install
	arch = x86_64
	license = custom
	makedepends = rust
	makedepends = pkgconf
	depends = gtk3
	depends = libayatana-appindicator
	depends = wayland
	depends = libxkbcommon
	depends = systemd-libs
	depends = alsa-lib
	depends = openssl
	depends = xdotool
	depends = libx11
	depends = libxtst
	depends = libxi
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = gtk-layer-shell
	optdepends = curl-impersonate: tracker.gg player stats/avatar lookups (AUR)
	optdepends = kdotool: window focus tracking on KDE/Plasma (AUR)
	optdepends = kscreen: kscreen-doctor, used for monitor info on KDE/Plasma
	provides = hebnix
	conflicts = hebnix-linux-bin
	options = !lto
	source = hebnix-linux-0.1.0.tar.gz::https://github.com/xplodingeggo/hebnix-linux/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = hebnix-linux
